/* GENERAL STYLING */

body {
    background-image: url("img/parchment.jpeg");
    background-repeat: repeat;
}

html {
    overflow: hidden;
}

*::-webkit-scrollbar {
    width: .5rem;
    background-color: transparent; 
}

*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1);
    border-radius: 10px;
    background-color: #F5F5F5;
    margin: 0 5rem 0 .25rem;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    border: 1px black solid;
}

h1 {
    color: ivory;
}

h1, h2, h3 {
    font-size: 1em;
}

.short-hr {
    width: 50%;
    margin: auto;
}

/* HEADER */

.header {
    min-width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(225deg, darkgray, rgb(59, 59, 59));
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 1;
    border-bottom: 1px black solid;
    box-shadow: 0px 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.title {
    margin-left: 1rem;
}

.options {
    display: inline-flex;
    margin-right: 1rem;
}

.option-item {
    margin: 0 1em 0 1em;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    border-radius: 5px;
}

.option-item:hover {
    cursor: pointer;
}

.shine {
    box-shadow: inset 0 0 10px 5px white;
}

/* OPTIONS WINDOWS IN GENERAL*/

.option-window {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 85vh;
    width: 90vw;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10vh 5vw 5vh 5vw;
    color: white;
}

/* TEXT INPUT WINDOW*/

#input-sentence {
    margin-top: 5vh;
    box-sizing: border-box;
    width: 100%;
    height: 90%;
}

/* SETTINGS WINDOW*/

#settings-window {
    display: grid;
    grid-template-columns: [column-left-end] minmax(0, 1fr) [column-middle] minmax(0, 1fr) [column-right-end];
    grid-template-rows: [header] minmax(0, .25fr) [main] minmax(0, 5fr) [buttons] minmax(0, .25fr);
    grid-gap: 2rem;
}

.settings-header {
    grid-row-start: header;
    grid-column-start: column-left-end;
    grid-column-end: column-right-end;
    text-align: center;
}

.column-left {
    grid-row-start: main;
    grid-column-start: column-left-end;
    grid-column-end: column-middle;
    display: grid;
    grid-template-columns: [left-end] minmax(0, 2fr) [left-middle] minmax(0, 1fr) [middle-middle] minmax(0, 2fr) [right-middle] minmax(0, 1fr) [right-end];
    grid-template-rows: [top] minmax(0, .25fr) [upper-middle] minmax(0, 5fr) [lower-middle] minmax(0, 1fr) [end];
    grid-gap: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.btn-selector-header {
    grid-row-start: top;
    grid-row-end: upper-middle;
    grid-column-start: left-end;
    grid-column-end: right-end;
    text-align: center;
}

.pref-selector-header {
    text-align: center;
}

.preview-btn-section {
    grid-row-start: upper-middle;
    grid-row-end: lower-middle;
    grid-column-start: left-end;
    grid-column-end: left-middle;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-left: .2em;
    padding-right: .2em;
}

.color-btn-section {
    grid-row-start: upper-middle;
    grid-row-end: lower-middle;
    grid-column-start: left-middle;
    grid-column-end: middle-middle;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-left: .2em;
    padding-right: .2em;
}

.color-btn-section > input {
    height: 1.34rem;
}

.text-btn-section {
    grid-row-start: upper-middle;
    grid-row-end: lower-middle;
    grid-column-start: middle-middle;
    grid-column-end: right-middle;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-left: .2em;
    padding-right: .2em;
}

.remove-btn-section {
    grid-row-start: upper-middle;
    grid-row-end: lower-middle;
    grid-column-start: right-middle;
    grid-column-end: right-end;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-left: .2em;
    padding-right: .2em;
}

/*ez itt rossz helyen van, meg elvileg felesleges is*/
.text-color-btn {
    grid-row-start: lower-middle;
    grid-row-end: end;
    grid-column-start: left-end;
    grid-column-end: right-end;
}

.column-right {
    grid-row-start: main;
    grid-column-start: column-middle;
    grid-column-end: column-right-end;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}

.apart {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.column-right > * {
    margin: .5rem;
}

.theme-selector > * {
    margin: .5rem;
}

.range-toggle {
    width: 25px;
    /* https://stackoverflow.com/questions/18389224/how-to-style-html5-range-input-to-have-different-color-before-and-after-slider */
}

.btn-row {
    grid-row-start: buttons;
    grid-column-start: column-middle;
    grid-column-end: column-right-end;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.input {
    height: fit-content;
}

.number-input, .unit-input, .style-input {
    width: 50px;
    text-align: right;
    height: 20px;
}

.column-right::-webkit-scrollbar-thumb, .column-left::-webkit-scrollbar-thumb {
    background-color: rgba(0, 132, 255, 0.8);
}


/* MAIN WINDOW*/

.main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 97%;
    min-height: 85vh;
    flex-wrap: wrap;
    margin: 1%;
    position:absolute;
    top: 8vh;
    left:0px;
    right:0px;
    bottom:0px;
    padding-top: 5vh;

    overflow-y:auto;
}

.input-unit-container {
    width: 100%;
    height: fit-content;
    display: flex;
    margin: .2em;
}

.rank-box {
    min-height: 3em;
    min-width: 9%;
    display: inline-block;
    margin-right: 1%;
}

.rank-box > div {
    text-align: center;
    justify-content: center;
    height: 30%;
}

.sentence-counter::-webkit-outer-spin-button,
.sentence-counter::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.sentence-counter {
    -moz-appearance: textfield;
    background:transparent; 
    border:1px solid black;
    text-align:center;
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance:textfield;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
}

.sentence-box {
    min-height: 3em;
    min-width: 90%;
    display: inline-flex;
    height: fit-content;
    flex-wrap: wrap;
}

.individual-word {
    padding: 0.2em;
    display: inline-flex;
    margin: .2em;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
}

/* BUTTON MENU */

.button-container {
    position: absolute;
    display: flex;
    flex-direction: column;
}

.hidden {
    visibility: hidden;
    display: none;
    width: 1px;
    height: 1px;
    position: absolute;
    top: 0vh;
    left: -100vw;
}

@media screen and (max-width: 640px) {
    #settings-window {
        display: grid;
        grid-template-columns: [left-end] minmax(0, 1fr) [right-end];
        grid-template-rows: [header] minmax(0, .25fr) [main1] minmax(0, 5fr) [main2] minmax(0, 5fr) [buttons] minmax(0, .25fr);
        grid-gap: 2rem;
    }
    
    .settings-header {
        grid-column-start: left-end;
        grid-column-end: right-end;
        grid-row-start: header;
        grid-row-end: main1;
        text-align: center;
    }
    
    .column-left {
        grid-column-start: left-end;
        grid-column-end: right-end;
        grid-row-start: main1;
        grid-row-end: main2;
        display: grid;
        grid-template-columns: [left-end] minmax(0, 2fr) [left-middle] minmax(0, 1fr) [middle-middle] minmax(0, 2fr) [right-middle] minmax(0, 1fr) [right-end];
        grid-template-rows: [top1] minmax(0, 1fr) [upper-middle] minmax(0, 5fr) [lower-middle] minmax(0, 1fr) [end];
        grid-gap: .5rem;
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    .btn-selector-header {
        grid-row-start: top1;
        grid-row-end: upper-middle;
        grid-column-start: left-end;
        grid-column-end: right-end;
        text-align: center;
    }

    .column-right {
        grid-column-start: left-end;
        grid-column-end: right-end;
        grid-row-start: main2;
        grid-row-end: buttons;
        display: flex;
        flex-direction: column;
        overflow-x: auto;
    }

    .btn-row {
        grid-column-start: left-end;
        grid-column-end: right-end;
        grid-row-start: buttons;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .options {
        display: inline-flex;
        margin-right: 1rem;
        justify-content: flex-end;
        flex-wrap: nowrap;
    }
    
    .option-item {
        margin: 0 .2rem 0 .2rem;
        padding: .5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px black solid;
        border-radius: 5px;
    }
}